.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &.is-hidden {
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
            }
}

.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
    min-height: 0;
}

.btn-modal {
    position: absolute;
    right: 8px;
    top: 8px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    &:focus,
        &:hover {
            fill: #2196f3;
        }
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-scroll {
    overflow: hidden;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    &:focus {
            outline-color: #2196f3;
        }
}

.input-title {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-text {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    margin-top: 4px;
    &:focus {
            outline-color: #2196f3;
        }
}


.btn-form {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 10px 52px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-field {
    margin-bottom: 10px;
}

.form-field-com {
    margin-bottom: 20px;
}

.input-wrap {
    position: relative;
    margin-top: 4px;
}

.form-input:focus+.input-icon {
    fill: #2196f3;
}

.form-polyci {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    &::before {
            content: ' ';
            width: 16px;
            height: 15px;
            border: 2px solid #212121;
            border-radius: 3px;
            margin-right: 8px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.check-polyci {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196f3;
}

.input-check:checked+.form-polyci::before {
    background-color: #2196f3;
    border-radius: 2px;
    background-image: url(../images/galochka.svg);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}