.contacts {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.info-item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.info-address {
    letter-spacing: 0.03em;
    color: var(--item--color--white);
    width: 232px;
}

.info-mail,
.info-tel {
    color: rgba(255, 255, 255, 0.6);
}

.logo-contacts {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--item--color--white);
    margin-bottom: 20px;
}